body {
  background-color: #222;
  color: #ddd;
  font-family: "Scheherazade New", serif;
  font-weight: 400;
  font-style: normal;
}

.App {
}

.contents {
  width: 75%;
  margin: auto;
  display: flex;
  margin-top: 50px;
}

.quick-links {
  width: 40%;
}

.ql-contents {
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

.ql-contents .image {
  width: 60%;
  margin: auto;
}
.ql-contents img {
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.ql-contents h2,
h4 {
  text-align: center;
}
.ql-contents p {
  text-align: center;
  line-height: 10px;
}

.ql-contents .name {
  color: #3eb7f0;
}
.ql-contents .name-sub {
  font-size: 17.5px;
  margin: auto;
}

.ql-contents .row {
  padding: 2.5px 15px;
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 1px solid #333;
  text-align: center;
}
.ql-contents .row:hover {
  background: #333;
}
.ql-contents a {
  font-size: 20px;
  color: #3eb7f0;
  text-decoration: none;
}

.feed-contents {
  width: 60%;
  margin-top: 30px;
}

.feed-contents p {
  line-height: 17.5px;
}

.feed-contents h2 {
  color: #3eb7f0;
  margin: 0;
}
.feed-contents h4 {
  margin: 0;
}

.feed-contents .list {
}
.feed-contents .list .item {
  padding: 5px 15px;
  border-radius: 7.5;
  cursor: pointer;
}
.feed-contents .list .light {
  background: #333;
}
.feed-contents .list span {
  margin-left: 10px;
}

.feed-contents .project-header {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .contents {
    flex-direction: column;
  }

  .quick-links {
    width: 100%;
  }

  .feed-contents {
    width: 100%;
  }
}
